/* Alap stílusok */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background:
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.65)),
    url("parolin_pics/hatter.webp") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Fejléc */
header {
  background-color: white;
  color: rgb(27, 68, 125);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.header-logo img {
  height: 50px;
}

.header-title {
  flex-grow: 1;
  text-align: center;
}

.header-title h1 {
  margin: 0;
  font-size: 1.8em;
  font-weight: 500;
}

.header-placeholder {
  width: 50px;
}

/* Galéria szűrő */
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.filter-container select,
.filter-container button,
.filter-container input[type="text"] {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
}

.filter-container button {
  background-color: #003366;
  color: white;
  cursor: pointer;
  border-color: #002d72;
  transition: background-color 0.2s;
}

.filter-container button:hover {
  background-color: #002d72;
}

/* Kártyák stílusa */
.gallery {
  display: grid;
  gap: 20px;
  justify-content: center;
  padding: 0 20px 20px 20px;
  grid-template-columns: repeat(3, 370px); /* Mindig 3 oszlop, 370px-es card-szélességgel */
}

.card {
  width: 370px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;       /* Ne vágjon le semmit */
  display: block;
  background-color: #f9f9f9;
}

.card-info {
  padding: 15px;
  background-color: #f9f9f9;
  text-align: center;
}

.card-info h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
  color: #333;
  font-weight: 500;
}

.card-info p {
  margin: 5px 0;
  font-size: 1em;
  color: #666;
}

.card-info p strong {
  color: #333;
}
